html, body
{
    height: 100%;
}

body
{
    margin: 0px;
    padding: 0px;
    background: rgb(255, 255, 255);
    font-family: 'Questrial', sans-serif;
    font-size: 12pt;
    color: #334467;
}




h1, h2, h3
{
    margin: 0;
    padding: 0;
    color: #404040;
}

table, td, th, tr   
{
    border-collapse: collapse;
    border: 2px solid black;
}

p, ol, ul
{
    margin-top: 0;
    font-size: 12pt;
}

p1
{
    margin-top: 0;
    font-size: 10pt;
}

ol, ul
{
    padding: 0;
    list-style: none;
}

p
{
    line-height: 180%;
}

a
{
    color: #16A085;
}

a:hover
{
    text-decoration: none;
}


.container
{
    margin: 0px auto;
    width: 1200px;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.inner-col {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.lds-spinner {
  color: #16A085;
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-spinner div {
  transform-origin: 32px 32px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 29px;
  width: 5px;
  height: 14px;
  border-radius: 20%;
  background: #16A085;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}



/*********************************************************************************/
/* Form Style                                                                    */
/*********************************************************************************/

    form
    {
    }
    
        form label
        {
            display: block;
            text-align: left;
            margin-bottom: 0.5em;
        }
        
        form .submit
        {
            margin-top: 2em;
            line-height: 1.5em;
            font-size: 1.3em;
        }
    
        form input.text,
        form select,
        form textarea
        {
            position: relative;
            -webkit-appearance: none;
            display: block;
            border: 0;
            background: #fff;
            background: rgba(255,255,255,0.75);
            width: 100%;
            border-radius: 0.50em;
            margin: 1em 0em;
            padding: 1.50em 1em;
            box-shadow: inset 0 0.1em 0.1em 0 rgba(0,0,0,0.05);
            border: solid 1px rgba(0,0,0,0.15);
            -moz-transition: all 0.35s ease-in-out;
            -webkit-transition: all 0.35s ease-in-out;
            -o-transition: all 0.35s ease-in-out;
            -ms-transition: all 0.35s ease-in-out;
            transition: all 0.35s ease-in-out;
            font-size: 1em;
            outline: none;
        }

            form input.text:focus,
            form select:focus,
            form textarea:focus
            {
                box-shadow: 0 0 2px 1px #E0E0E0;
                background: #fff;
            }
            
            form textarea
            {
                min-height: 12em;
            }

            form .formerize-placeholder
            {
                color: #555 !important;
            }

            form ::-webkit-input-placeholder
            {
                color: #555 !important;
            }

            form :-moz-placeholder
            {
                color: #555 !important;
            }

            form ::-moz-placeholder
            {
                color: #555 !important;
            }

            form :-ms-input-placeholder
            {
                color: #555 !important;
            }

            form ::-moz-focus-inner
            {
                border: 0;
            }


/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/

.image
{
    display: inline-block;
    border: 1px solid rgba(0,0,0,.1);
}

.image img
{
    display: block;
    width: 100%;
}

.image-full
{
    display: block;
    width: 100%;
    margin: 0 0 3em 0;
}

.image-left
{
    float: left;
    margin: 0 2em 2em 0;
}

.image-centered
{
    display: block;
    margin: 0 0 2em 0;
}

.image-centered img
{
    margin: 0 auto;
    width: auto;
}

/*********************************************************************************/
/* Social Icon Styles                                                            */
/*********************************************************************************/

ul.contact
{
    margin: 0;
    padding: 2em 0em 0em 0em;
    list-style: none;
}

ul.contact li
{
    display: inline-block;
    padding: 0em 0.10em;
    font-size: 1em;
}

ul.contact li span
{
    display: none;
    margin: 0;
    padding: 0;
}

ul.contact li a
{
    color: #FFF;
}

ul.contact li a:before
{
    display: inline-block;
    background: #3E5A99;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: rgba(255,255,255,.5);
}


/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

.button
{
    display: inline-block;
    margin-top: 2em;
    padding: 0.8em 2em;
    background: #3E5A99;
    line-height: 1.8em;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 1em;
    color: #FFF;
}

.button:before
{
    display: inline-block;
    background: #8DCB89;
    margin-right: 1em;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    text-align: center;
    color: #272925;
}

.button-small
{
}
    
/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

.title
{
    margin-bottom: 3em;
}

.title h2
{
    font-size: 2.8em;
    color: #334467;
}

.title .byline
{
    font-size: 1.1em;
    /* color: rgba(255,255,255,.5); */
    color: #334467;
}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

#header-wrapper
{
    overflow: hidden;
    padding: 6em 0em 2em 0em;
}

#header
{
    text-align: center;
}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

#logo h1
{
    display: inline-block;
    margin-bottom: 0em;
    padding: 0.20em 0.9em;
    font-size: 3.5em;
}

#logo a
{
    text-decoration: none;
    color: #048b9a;
}

#logo a:hover
{
    text-decoration: none;
    color: #026b7b;
}

#logo span
{
    padding-right: 0.5em;
    text-transform: uppercase;
    font-size: 0.90em;
    color: rgba(255,255,255,1);
}

#logo span a
{
    color: rgba(255,255,255,0.8);
}



/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

#menu ul
{
    display: inline-block;
    padding: 0em 2em;
    text-align: center;
}

#menu li
{
    display: inline-block;
}

#menu li a, #menu li span
{
    display: inline-block;
    padding: 1.3em 1.5em;
    text-decoration: none;
    font-size: 0.90em;
    font-weight: 600;
    text-transform: uppercase;
    outline: 0;
    color: #FFF;
}

#menu li:hover a, #menu li.active a, #menu li.active span
{
    background: #3E5A99;
}

#menu .current_page_item a
{
    color: #FFF;
}

/*********************************************************************************/
/* Wrapper                                                                       */
/*********************************************************************************/


.wrapper
{
    overflow: hidden;
    padding: 0em 0em 5em 0em;
}

#wrapper1
{
    background: #FFF;
}

#wrapper2
{
    overflow: hidden;
    padding: 5em 0em;
    text-align: center;
}

/*********************************************************************************/
/* Welcome                                                                       */
/*********************************************************************************/

#welcome
{
    overflow: hidden;
    width: 1200px;
    padding: 2em 0px 0em 0px;
    text-align: center;
}

#welcome .content
{
    padding: 0em 8em;
}

    #welcome .image
    {
        display: block;
        padding-top: 3em;
        border: none;
    }

#welcome .title h2
{
    color: #FFF;
}

#welcome a,
#welcome strong
{
    color: #C6C2C4;
}

/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/

#page-wrapper, #spinner-box
{
    overflow: hidden;
    padding: 0em 0em 3em 0em;
    text-align: center;
}

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

#content
{
    float: left;
    width: 700px;
    padding-right: 100px;
    border-right: 1px solid rgba(0,0,0,.1);
}

/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

#sidebar
{
    float: right;
    width: 350px;
}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

#footer
{
    text-align: center;
}


#footer .title span
{
    color: rgba(255,255,255,0.4);
}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

#copyright
{
    overflow: hidden;
    padding: 5em 0em;
    border-top: 1px solid rgba(255,255,255,0.08);
    text-align: center;
}

#copyright p
{
    letter-spacing: 1px;
    font-size: 0.90em;
    color: #334467;
}

#copyright a
{
    text-decoration: none;
    color: #3eab3c;
}

/*********************************************************************************/
/* Newsletter                                                                    */
/*********************************************************************************/

#newsletter
{
    overflow: hidden;
    padding: 8em 0em;
    background: #EDEDED;
    text-align: center;
}

#newsletter .title h2
{
    color: rgba(0,0,0,0.8);
}

#newsletter .content
{
    width: 600px;
    margin: 0px auto;
}

/*********************************************************************************/
/* Portfolio                                                                     */
/*********************************************************************************/

#portfolio .box
{
    text-align: center;
}

#portfolio h3
{
    display: block;
    padding-bottom: 1em;
    font-size: 1em;
    color: rgba(255,255,255,1);
}

#portfolio .title
{
    text-align: center;
}

#portfolio .title h2
{
    color: rgba(0,0,0,0.8);
}

.column1,
.column2,
.column3,
.column4
{
    width: 282px;
}

.column1,
.column2,
.column3
{
    float: left;
    margin-right: 24px;
}

.column4
{
    float: right;
}